@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.InventoryCard {
  &__container {
    @include mobile {
      display: flex;
      flex-direction: column;
      border-top: 1px solid black;
      padding: 24px;
    }
    @include tablet {
    }
    @include desktop {
    }
  }

  &__info {
    &--container {
      @include mobile {
        display: flex;
        flex-direction: row;
        gap: 35px;
      }
      @include tablet {
      }
      @include desktop {
      }
    }

    &--subcontainer {
      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      @include tablet {
      }
      @include desktop {
      }
    }

    &--subcomponent {
      @include mobile {
        display: flex;
        flex-direction: column;
      }
      @include tablet {
      }
      @include desktop {
      }
    }

    &--subtitlelink {
      @include mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      @include tablet {
      }
      @include desktop {
      }
    }
  }

  &__buttoncontainer {
    @include mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include tablet {
    }
    @include desktop {
    }
  }
}
