@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.InventoryList {
  &__container {
    @include mobile {
      padding-top: 32px;
      margin-left: $mobile-side-margin;
      margin-right: $mobile-side-margin;
      box-shadow: 0px 2px 5px 0px #13182c1a;
    }
    @include tablet {
    }
    @include desktop {
    }
  }

  &__title {
    @include mobile {
      font-size: 28px;
      font-weight: 600;
      margin: 0px 24px;
      margin-bottom: 16px;
    }
    @include tablet {
    }
    @include desktop {
    }
  }

  &__funcbar {
    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;
    }
    @include tablet {
    }
    @include desktop {
    }

    &--searchinput {
      @include mobile {
        margin: 0px 24px;
        padding: 8px 0px 8px 16px;
        border: 1px solid black;
        min-height: 20px;
        border-radius: 20px;
      }
      @include tablet {
      }
      @include desktop {
      }
    }

    &--addmore {
      @include mobile {
        margin: 0px 24px;
        background-color: $instock-blue;
        color: $instock-white;
        min-height: 36px;
        border-radius: 20px;
      }
      @include tablet {
      }
      @include desktop {
      }
    }
  }
}
