// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

// Primary Colors
$instock-graphite: #232940;
$instock-eggshell: #d1d1d1;
$instock-black: #13182c;

// Secondary Colors
$instock-white: #ffffff;
$instock-cloud: #bdc5d5;
$instock-slate: #5c667e;
$instock-blue: #2e66e5;

// Teriary Colors
$instock-green: #158463;
$instock-orange: #c94515;
