@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.DeleteWarehousePage {
  &__container {
    @include mobile {
      margin: 16px;
    }
    @include tablet {
    }
    @include desktop {
    }
  }

  &__closeicon {
    &--container {
      @include mobile {
        display: flex;
        flex-direction: row;
        justify-content: end;
      }
      @include tablet {
      }
      @include desktop {
      }
    }
  }

  &__title {
    &--container {
      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      @include tablet {
      }
      @include desktop {
      }
    }

    @include mobile {
      font-size: 28px;
      font-weight: 600;
    }
    @include tablet {
    }
    @include desktop {
    }
  }

  &__button {
    &--container {
      @include mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0px;
      }
      @include tablet {
      }
      @include desktop {
      }
    }

    &--cancel {
      @include mobile {
        padding: 8px 63px;
        min-height: 36px;
        border-radius: 20px;
        border: 1px solid #bdc5d5;
        color: $instock-slate;
        background-color: linear-gradient(0deg, #bdc5d5, #bdc5d5),
          linear-gradient(0deg, #ffffff, #ffffff);
      }
      @include tablet {
      }
      @include desktop {
      }
    }

    &--delete {
      @include mobile {
        padding: 8px 63px;
        min-height: 36px;
        border-radius: 20px;
        color: $instock-white;
        background-color: #c94515;
      }
      @include tablet {
      }
      @include desktop {
      }
    }
  }
}
