@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.NavBar {
  &__container {
    background-color: $instock-graphite;
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 200px;
    }
    @include tablet {
    }
    @include desktop {
    }
  }

  &__button {
    @include mobile {
      background-color: $instock-black;
      color: white;
      min-height: 36px;
      min-width: 163px;
      border-radius: 20px;
      text-align: center;
    }
    @include tablet {
    }
    @include desktop {
    }

    &--container {
      @include mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0px 16px;
      }
      @include tablet {
      }
      @include desktop {
      }
    }
  }

  &__image {
    @include mobile {
      margin: 24px 0px;
    }
    @include tablet {
    }
    @include desktop {
    }
  }
}
