@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.Footer {
  &__container {
    @include mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 40px 0px;
    }
    @include tablet {
    }
    @include desktop {
    }
  }
}
